body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

